#chr_name {
    font-weight: bolder;
}
mat-form-field {
    height: auto;
    width: 10vw;
    box-sizing: border-box;
    margin-right: 0.5rem;
    margin-top: 1.5rem;
}
.btn {
    height: 48px;
    box-sizing: border-box;
    color: black;
    margin-top: 0.1rem;
    border-radius: 28px;
}
.form {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 4rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0.5rem;

    &-title {
        font-size: min(1.2vw, 2rem);
        font-weight: 800;
        margin-right: 10px;
        background-color: #5c677d;
        border-radius: 28px;
        padding: 1rem;
        color: #f9f7f3;
    }
}
.container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0.5rem;
}
.empty-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #6c757d;
    font-size: 1vw;
    line-height: 1.5;
    font-weight: bold;
}
:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
}
