<div class="form">
    <div class="form-title"><span>Scaffold:</span>&nbsp;<span id="chr_name"></span></div>
    <div class="container">
        <mat-form-field appearance="outline" [color]="colorControl.value!" class="dense-2">
            <mat-label>Square size</mat-label>
            <input
                matInput
                type="number"
                id="square-size-input"
                min="1"
                max="100"
                [(ngModel)]="squareWidth"
            />
        </mat-form-field>
        <mat-form-field appearance="outline" [color]="colorControl.value!" class="dense-2">
            <mat-label>Compression</mat-label>
            <input
                matInput
                type="number"
                id="compression-input"
                min="10"
                max="10000"
                [(ngModel)]="compressionNum"
            />
        </mat-form-field>
        <div>
            <button
                class="btn"
                mat-stroked-button
                matTooltip="zoom in and zoom out!"
                (click)="handleClick()"
            >
                Update
            </button>
        </div>
    </div>
</div>
<div class="sequence" id="content2">
    <div class="empty-text">
        <p>Clicking the above barchart to show sequence details.</p>
    </div>
</div>
