<google-map
    height="100%"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="{
        mapTypeControl: false,
        fullscreenControl: false,
        keyboardShortcuts: false,
        disableDefaultUI: true
    }"
>
    <div *ngFor="let marker of markers">
        <map-marker
            #markerElem
            [position]="marker.position"
            [options]="getIconOptions(marker)"
            (mapClick)="onMarkerClick(marker)"
        >
        </map-marker>
    </div>
</google-map>
