.axis {
    opacity: 0.4;
}
.axis:hover {
    opacity: 1;
}

h4 {
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
    font-size: 0.7rem;
    font-family: 'Quicksand', sans-serif;
}

.tooltip {
    pointer-events: none;
}

#PC {
    padding: 10px;
    overflow-y: auto;
}

.map {
    z-index: 0;
    padding-left: 1rem;
    width: 50%;
    padding-bottom: 2.5rem;
}

.filter {
    overflow-y: auto;
    width: 50%;
    margin-left: 1rem;
}

.filter-container {
    position: sticky;
    top: 0;
    border-radius: 1rem;
    background-color: rgba(245, 243, 244, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 20vh;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.filter-title {
    background-color: rgba(245, 243, 244, 0.5);
    position: sticky;
    top: 0;
    margin: 0;
    margin-bottom: 0.1rem;
}

.item {
    flex: 1; /* This will make each item take up an equal amount of space */
}

.empty-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #adb5bd;
    font-size: 1rem;
}
