<div class="filter-container">
    <div class="item map">
        <h4 class="filter-title">Choose location</h4>
        <app-map (pinClicked)="onPinClicked($event)"></app-map>
    </div>
    <div class="item filter">
        <h4 class="filter-title">Choose condition</h4>
        <div id="filter"></div>
        <div class="empty-text" id="empty-condition-text">
            <p>Select location to show conditions.</p>
        </div>
    </div>
</div>
<div id="pc-container">
    <div id="PC"></div>
    <div class="empty-text" id="empty-pc-text">
        <p>Select above conditions to show PC. <br> At least two conditions.</p>
    </div>
</div>
