h4 {
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
    font-size: 0.7rem;
    font-family: 'Quicksand', sans-serif;
}

#PC {
    padding: 10px;
    overflow-y: auto;
}

.map {
    z-index: 0;
    padding-left: 1rem;
    width: 50%;
    padding-bottom: 2.5rem;
}

.filter {
    overflow-y: auto;
    width: 50%;
    margin-left: 1rem;
}

.filter-container {
    position: sticky;
    top: 0;
    border-radius: 28px;
    background-color: #5c677d;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 20vh;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.filter-title {
    background-color: #5c677d;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    position: sticky;
    top: 0;
    margin: 0;
    margin-bottom: 0.1rem;
    color: #fff;
}

.item {
    flex: 1; /* This will make each item take up an equal amount of space */
}

.empty-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    font-size: 1vw;
    font-weight:bold;
}

#empty-pc-text {
    color: #6c757d;
}

#empty-condition-text {
    color: #fff;
}

#no-exp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    // opacity: 0;
    // width: 500px;
    animation: appearOnce 1s;
}

@keyframes appearOnce {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
